.app {
  @apply w-full h-screen flex flex-col;
}

.header {
  @apply bg-slate-700 text-white py-4 px-8 shadow-md z-[1000];
}

.header h1 {
  @apply text-2xl mb-1;
}

.subtitle {
  @apply text-sm opacity-90;
}

.loading,
.error {
  @apply flex items-center justify-center h-screen text-xl;
}

.error {
  @apply text-red-600;
}

